.roulette.mode {
  display: flex;
  width: 100%;
  height: 100%;

  .main-content {
    position: relative;

    .rotator {
      $size: 500px;
      position: absolute;
      display: flex;
      width: $size;
      height: $size;
      border: 5px solid red;
      border-radius: 50%;
      padding: 10px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .rotator-inner {
        display: flex;
        position: relative;
        width: 100%;

        .rotator-item {
          display: flex;
          transform-origin: 50% 100%;
          width: 30px;
          height: $size / 2;
          position: absolute;
          top: 0;
          left: 50%;
          justify-content: center;
          padding-top: 5px;
          font-size: 18px;
          font-weight: bold;
          box-sizing: border-box;
          //   transform: translate(-50%, 0);

          // rotate and transform as roullette
          @for $i from 1 through 36 {
            &:nth-child(#{$i}) {
              transform: translate(-50%, 0) rotateZ(#{10 * $i}deg);
            }
          }

          &[indicate="2"] {
            background-color: rgb(218, 144, 255);
          }
          &[indicate="3"] {
            background-color: rgb(58, 104, 255);
          }
          &[indicate="5"] {
            background-color: rgb(49, 207, 188);
          }
          &[indicate="10"] {
            background-color: rgb(219, 179, 1);
          }
          &[indicate="20"] {
            background-color: rgb(255, 116, 17);
          }
          &[indicate="50"] {
            background-color: rgb(255, 28, 28);
          }
        }
      }
    }
  }
}
